* {
  font-family: montserrat;
}

h1 {
  font-size: calc( ( 100vw / 1920 ) * 60);
  font-weight: bold;
}

h4 {
  color: #DC8451;
  font-size: calc( ( 100vw / 1920 ) * 30);
}

body {
  width: 100%;
  margin: 0;
}

#toggle {
  display: none;
}

.mn {
  display: none !important;
}

.header {
  background-color: #0596A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0px 0px 50px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-preferred-size: calc( 100vw /  3);
      flex-basis: calc( 100vw /  3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc( ( 100vw / 1920 ) * 25);
  color: white;
  text-decoration: underline;
  padding: 0;
}

.header > a {
  color: white;
  font-weight: bold;
  font-size: calc( ( 100vw / 1920 ) * 30);
}

.header__nav-bar-mob {
  display: none;
}

.body {
  max-width: calc( ( 100vw / 1920 ) * 1640);
  margin: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.main__text {
  font-size: calc( ( 100vw / 1920 ) * 30);
  color: #366273;
  text-decoration: none;
  width: calc( ( 100vw / 1920 ) * 786);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__text > ul {
  padding: 0px;
}

.main__text > ul > li {
  list-style: none;
}

.main__text__buttons {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc( ( 100vw / 1920 ) * 670);
}

.main__text__buttons > *:nth-child(1) {
  background-color: #0596A6;
}

.main__text__buttons > *:nth-child(2) {
  background-color: #DC8451;
}

.main__text__buttons > a {
  display: block;
  width: calc( ( 100vw / 1980 ) *300);
  padding: 10px 0px;
  border-radius: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.main__image > img {
  width: calc( ( 100vw / 1920 ) *812);
  display: block;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__roster {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
  padding: 10px 0px;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__roster > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: calc( 25% - 16px);
  border-radius: 50px;
}

.cards__roster > li > a {
  margin: auto;
  padding: 5px;
}

.cards__roster > li > a > a {
  -ms-flex-line-pack: center;
      align-content: center;
}

.cards__roster > * > * > img {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cards__roster > li:nth-child(1) {
  border: #329266 solid 3px;
  color: #329266;
  font-size: 1.30208vw;
  font-weight: bold;
}

.cards__roster > li:nth-child(2) {
  border: #0596A6 solid 3px;
  color: #0596A6;
  font-size: 1.30208vw;
  font-weight: bold;
}

.cards__roster > li:nth-child(3) {
  border: #366273 solid 3px;
  color: #366273;
  font-size: 1.30208vw;
  font-weight: bold;
}

.cards__roster > li:nth-child(4) {
  border: #DC8451 solid 3px;
  color: #DC8451;
  font-size: 1.30208vw;
  font-weight: bold;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.offer__cards {
  width: 29vw;
}

.offer__cards__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
}

.offer__cards__block p {
  margin: 0;
  color: #0596A6;
  font-weight: bold;
}

.offer__cards__block::after {
  content: url(/74c66f86-567f-4673-ba38-014edaec862c.png);
  width: calc( ( 100vw / 1920 ) * 289);
  margin-left: 17px;
  vertical-align: middle;
}

.offer__cards__block__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__cards__block__txt__mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__cards__block__txt__mini a {
  font-size: calc( ( 100vw / 1920 ) * 14);
  color: #80BFA2;
  text-decoration: none;
}

.offer__cards__block__txt__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc( ( 100vw / 1920 ) * 36);
}

.offer__cards__block__txt__price + p {
  font-size: calc( ( 100vw / 1920 ) * 23);
}

.offer__cards__block__txt__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__cards__block__txt__icons__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__cards__block__txt__icons__tag > p > a:first-child {
  color: #707070 !important;
  font-size: calc( ( 100vw / 1920 ) * 14) !important;
  font-weight: normal !important;
}

.offer__cards__block__txt__icons__tag > p > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: calc( ( 100vw / 1920 ) * 21);
}

.offer__cards__block__txt__btn > a {
  background-color: #DC8451;
  padding: 10px 50px;
  font-size: calc( ( 100vw / 1920 ) * 24);
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

.offer__text {
  width: 40%;
  text-align: center;
}

.offer__text > h3 {
  font-size: calc( ( 100vw / 1920 ) * 40);
  color: #366273;
  text-decoration: none;
  font-weight: bold;
}

.offer__text > p {
  font-size: calc( ( 100vw / 1920 ) * 25);
  color: #366273;
  text-decoration: none;
}

.offer__text > a {
  font-size: calc( ( 100vw / 1920 ) * 30);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  background-color: #DC8451;
  padding: 10px 50px;
}

h2 {
  font-size: calc( ( 100vw / 1920 ) * 40);
  color: #366273;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__cort {
  border-radius: 10px;
  width: calc( 25% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__cort__txt {
  width: calc( ( 100vw / 1920 ) * 338);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.advantage__cort__txt > img {
  width: calc( ( 100vw / 1920 ) * 100);
  padding-top: 1vh;
}

.advantage__cort__txt > h3 {
  font-size: calc( ( 100vw / 1920 ) * 30);
  font-weight: bold;
  text-align: center;
}

.advantage__cort__txt > p {
  font-size: calc( ( 100vw / 1920 ) * 20);
  text-align: center;
}

.advantage__cort:first-child {
  border: #0596A6 solid 3px;
  color: #0596A6;
}

.advantage__cort:nth-child(2) {
  border: #329266 solid 3px;
  color: #329266;
}

.advantage__cort:nth-child(3) {
  border: #DC8451 solid 3px;
  color: #DC8451;
}

.advantage__cort:nth-child(4) {
  border: #366273 solid 3px;
  color: #366273;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  background-color: #0596A6;
  border-radius: 50px 50px 0px 0px;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer li {
  list-style: none;
}

.footer__left {
  text-align: left;
  color: white;
  font-size: calc( ( 100vw / 1920 ) * 25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: underline;
  height: 50%;
  width: 15vw;
}

.footer__left > ul > li:nth-child(1) {
  font-weight: bold !important;
  font-size: calc( ( 100vw / 1920 ) * 30);
  text-decoration: none !important;
}

.footer__left > ul > li > a > span {
  font-weight: bold;
}

.footer__left > ul {
  padding-left: 0px;
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__center > a:nth-child(1) {
  font-weight: bold !important;
  font-size: calc( ( 100vw / 1920 ) * 30) !important;
  color: white !important;
  background-color: transparent;
}

.footer__center > a {
  display: block;
  padding: 10px;
  width: 250px;
  background-color: white;
  color: #0596A6;
  border-radius: 50px;
  font-size: calc( ( 100vw / 1920 ) * 25);
  text-align: center;
}

.footer__center > a:nth-child(4) {
  background-color: #80BFA2 !important;
  color: white !important;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: right;
}

.footer__right > ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__right > ul > li > a {
  font-size: calc( ( 100vw / 1920 ) * 25);
  text-decoration: underline;
}

.footer__right > ul > li:nth-child(1) {
  font-weight: bold;
}

.mn-f {
  display: none;
}

@media (max-width: 1370px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer__cards__block::after {
    display: none;
  }
}

@media (max-width: 760px) {
  .mn {
    display: block !important;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__nav-bar {
    display: none;
  }
  .header__enter {
    display: none;
  }
  .header__nav-bar-mob {
    list-style: none;
    color: white;
    display: none;
  }
  .header__nav-bar-mob-vis {
    display: block;
    list-style: none;
    color: white;
    width: 100vw;
    text-align: center;
    padding: 0;
  }
  .header__nav-bar-mob-vis > li {
    margin-top: 10px;
  }
  .header__nav-bar-mob-vis > li > a > span {
    font-weight: bold;
  }
  .body {
    width: 98%;
  }
  .main__image {
    display: none;
  }
  .main__text {
    width: 100%;
    text-align: center;
  }
  .main__text > h1 {
    font-size: calc( ( 100vw / 760 ) * 40);
  }
  .main__text > p {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .main__text > ul > li > a {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .main__text__buttons {
    font-size: calc( ( 100vw / 760 ) * 22);
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__text__buttons > a {
    padding: 10px 20px;
  }
  .cards > h4 {
    font-size: calc( ( 100vw / 760 ) * 30);
    margin: 0;
    text-align: center;
  }
  .cards__roster > li {
    width: calc( 50% - 10px);
    margin-top: 10px;
  }
  .cards__roster > li > a {
    font-size: calc( ( 100vw / 760 ) * 25) !important;
  }
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .offer__cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer__cards__block::after {
    display: none;
  }
  .offer__cards__block__txt__mini > p > a {
    font-size: calc( ( 100vw / 760 ) * 20);
  }
  .offer__cards__block__txt__icons__tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
  }
  .offer__cards__block__txt__icons__tag > p > img {
    width: calc( ( 100vw / 760 ) * 80);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer__cards__block__txt__icons__tag > p:nth-child(2) > a:nth-child(1) {
    font-size: calc( ( 100vw / 760 ) * 19) !important;
  }
  .offer__cards__block__txt__icons__tag > p:nth-child(2) > a:nth-child(2) {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .offer__cards__block__txt__btn {
    margin-top: 10px;
    text-align: center;
  }
  .offer__cards__block__txt__btn > a {
    font-size: calc( ( 100vw / 760 ) * 20);
  }
  .offer__cards__block__txt__price > p:nth-child(1) {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .offer__cards__block__txt__price > p:nth-child(2) {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .offer__cards__block__txt > p:nth-child(2) {
    font-size: calc( ( 100vw / 760 ) * 40);
  }
  .offer__text {
    width: 100%;
  }
  .offer__text > p {
    width: 100%;
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .offer__text > h3 {
    font-size: calc( ( 100vw / 760 ) * 30);
  }
  .offer__text > a {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .offer__cards__block__txt__price + p {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left {
    width: 100vw;
  }
  .footer__left > ul {
    padding-left: 0px;
  }
  .footer__left > ul > li {
    text-align: center;
  }
  .footer__left > ul > li > a {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .footer__center {
    display: none;
  }
  .footer__right > div:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
  }
  .footer__right > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100vw;
    padding-left: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__right > ul > li > a {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  h2 {
    font-size: calc( ( 100vw / 760 ) * 30);
    margin-top: 25px;
  }
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advantage__cort {
    width: 45%;
    margin-top: 10px;
    height: 50vh;
  }
  .advantage__cort__txt {
    width: 90%;
  }
  .advantage__cort__txt > h3 {
    font-size: calc( ( 100vw / 760 ) * 30);
  }
  .advantage__cort__txt > p {
    font-size: calc( ( 100vw / 760 ) * 25);
  }
  .advantage__cort__txt > img {
    width: 40%;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */